extends layout

block content  
  h1= title
  p Original source #[a(href="https://github.com/auth0-samples/auth0-nodejs-webapp-sample/tree/master/01-Login") auth0-nodejs-webapp-sample]
  br
  a(href="/login")
    button() Login